@model IEnumerable<PhoneStore_Website.Models.Producto>

@{
    ViewData["Inicio"] = "Inicio";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Mi Catálogo</a>

        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-warning" asp-action="Login" asp-controller="Home">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h2 class="text-center">Catálogo de Productos</h2>

<div class="row">
    @if (Model != null && Model.Any())
    {
        @foreach (var producto in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card shadow-sm text-center">
                    <img src="~/images/@producto.Imagen" alt="@producto.Prod_Name" class="card-img-top" style="height: 200px; object-fit: contain;" />
                    <div class="card-body">
                        <h5 class="card-title">@producto.Prod_Name</h5>
                        <p class="card-text">@producto.Prod_Description</p>
                        <p class="card-text">C$ @producto.Sale_Price</p>
                    </div>
                </div>
            </div>
        }

    }
    else
    {
        <p>No Hay Productos Disponibles</p>
    }

</div>
