@model PhoneStore_Website.Models.Det_Venta

@{
    ViewData["Title"] = "Detalles_Venta";
}

<h1>Detalles_Venta</h1>

<div>
    <h4>Det_Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venta.Sale_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Prod_Cod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sale_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sale_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Det_Sale_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
